.vercel
node_modules/
dist/assets/*.*
/.pnp
.pnp.js

# Testing
/coverage

# Production
/build
/dist

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
ENV/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Project specific
/Other/
db_controller.log
Backend/credentials/firebase-credentials.json
Backend/secret.key
Backend/audit_results/api_audit_report.json
.gitignore
Backend/audit_results/api_audit_responses.json
.gitignore
Backend/audit_results_final/api_audit_report.json
Backend/audit_results_final/api_audit_responses.json
Backend/audit_results_v2/api_audit_report.json
.gitignore
Backend/audit_results_v2/api_audit_responses.json
.gitignore
Backend/audit_results_v3/api_audit_report.json
.gitignore
Backend/audit_results_v3/api_audit_responses.json
