scipy
absl-py
astunparse
bidict
blinker
certifi
charset-normalizer
click
colorama
Flask
flask_cors
Flask-SocketIO
Flask-Caching>=2.0.2
Flask-Limiter>=3.3.1
Flask-Compress>=1.13
prometheus-flask-exporter>=0.22.3
flatbuffers
gast
gunicorn
google-pasta
grpcio
h11
h5py
idna
itsdangerous
Jinja2
keras
libclang
Markdown
markdown-it-py
MarkupSafe
mdurl
ml-dtypes
namex
numpy
opt-einsum
optree
packaging
pandas
protobuf
Pygments
python-dateutil
python-engineio
python-dotenv
python-socketio
pymongo
pytz
requests
rich
schedule
setuptools
simple-websocket
six
termcolor
typing_extensions
tzdata
urllib3
uv
Werkzeug
wheel
wrapt
wsproto
