scipy
absl-py
astunparse
bidict
blinker
certifi
charset-normalizer
click
colorama
Flask==2.0.1
flask_cors
Flask-Cors==3.0.10
Flask-SocketIO==5.1.1
Flask-Caching>=2.0.2
Flask-Limiter==2.4.0
Flask-Compress>=1.13
prometheus-flask-exporter>=0.22.3
flatbuffers
gast
gunicorn==20.1.0
google-pasta
grpcio
h11
h5py
idna
itsdangerous
Jinja2
keras
libclang
Markdown
markdown-it-py
MarkupSafe
mdurl
ml-dtypes
namex
numpy
opt-einsum
optree
packaging
pandas
protobuf
Pygments
python-dateutil
python-engineio
python-dotenv==0.19.0
python-socketio==5.4.0
pymongo
pytz
requests==2.26.0
rich
schedule
setuptools
simple-websocket
six
termcolor
typing_extensions
tzdata
urllib3
uv
Werkzeug==2.0.1
wheel
wrapt
wsproto
Flask-SQLAlchemy==2.5.1
Flask-JWT-Extended==4.3.1
Flask-Mail==0.9.1
bcrypt==3.2.0
PyJWT==2.1.0
redis==3.5.3
eventlet==0.33.0
